{{- if and .Values.eventing.install .Values.eventing.defaultBroker.create }}
{{- $existingBroker := lookup "eventing.knative.dev/v1" "Broker" .Release.Namespace .Values.eventing.defaultBroker.name }}
apiVersion: eventing.knative.dev/v1
kind: Broker
metadata:
  name: {{ .Values.eventing.defaultBroker.name }}
  namespace: {{ .Release.Namespace }}
  annotations:
    eventing.knative.dev/broker.class: MTChannelBasedBroker
{{- if and $existingBroker (not $existingBroker.spec.config) }}
spec: {}
{{- else }}
spec:
  config:
    apiVersion: v1
    kind: ConfigMap
    name: config-br-default-channel
    namespace: {{ .Values.eventing.namespace }}
{{- end }}
{{- end }}
