{{- if .Values.emailer.install }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-emailer
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: na-emailer
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.emailer.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: na-emailer
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: na-emailer
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      {{- with .Values.emailer.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: emailer
          image: "{{ .Values.emailer.image.repository }}:{{ .Values.emailer.image.tag }}"
          imagePullPolicy: {{ .Values.emailer.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          envFrom:
            - configMapRef:
                name: {{ .Release.Name }}-emailer
            {{- if or .Values.emailer.config.yagmailUser .Values.emailer.config.yagmailPassword }}
            - secretRef:
                name: {{ .Release.Name }}-emailer
            {{- end }}
          {{- with .Values.emailer.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 3
            periodSeconds: 10
{{- end }}
